<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CHPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18670CD31D0D3A3E00902723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18670CEC1D0D3A3F00902723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18670CF71D0D3A3F00902723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
